<section class="countdown-section">
    <div class="container">
        <h2>Counting Down to Forever</h2>
        <div id="countdown">
            <div>
                <span id="hari">00</span>
                <p>Days</p>
            </div>
            <div>
                <span id="jam">00</span>
                <p>Hours</p>
            </div>
            <div>
                <span id="menit">00</span>
                <p>Minutes</p>
            </div>
            <div>
                <span id="detik">00</span>
                <p>Seconds</p>
            </div>
        </div>
    </div>
</section>