<section class="section event-section">
    <div class="container">

        <div class="event-header">
            <h2 class="event-title">The Next Chapter</h2>
            <div id="countdown" class="countdown-integrated">
                <div><span id="hari">0</span><p>Days</p></div>
                <div><span id="jam">0</span><p>Hours</p></div>
                <div><span id="menit">0</span><p>Minutes</p></div>
                <div><span id="detik">0</span><p>Seconds</p></div>
            </div>
        </div>

        <div class="event-details-grid">
            <div class="event-col">
                <div class="event-block">
                    <h4 class="event-block-title">
                        <img src="./assets/img/church.png" alt="">
                        <span>Holy Matrimony</span>
                    </h4>
                    <div class="info-block">
                        <i class="fa-regular fa-calendar-days"></i>
                        <div class="info-text">
                            <h5>Date</h5>
                            <p>Saturday, 18 October 2025</p>
                        </div>
                    </div>
                    <div class="info-block">
                        <i class="fa-regular fa-clock"></i>
                        <div class="info-text">
                            <h5>Time</h5>
                            <p>13:30 WIB</p>
                        </div>
                    </div>
                    <div class="info-block">
                        <i class="fa-solid fa-church"></i>
                        <div class="info-text">
                            <h5>Location</h5>
                            <p>Will be held in private with family members only</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="event-col">
                <div class="event-block">
                    <h4 class="event-block-title">
                        <img src="./assets/img/wedding-rings-2.png" alt="">
                        <span>Reception</span>
                    </h4>
                    <div class="info-block">
                        <i class="fa-regular fa-calendar-days"></i>
                        <div class="info-text">
                            <h5>Date</h5>
                            <p>Saturday, 18 October 2025</p>
                        </div>
                    </div>
                    <div class="info-block">
                        <i class="fa-regular fa-clock"></i>
                        <div class="info-text">
                            <h5>Time</h5>
                            <p>19:00 - 21:00 WIB</p>
                        </div>
                    </div>
                    <div class="info-block">
                        <i class="fa-solid fa-map-pin"></i>
                        <div class="info-text">
                            <h5>Location</h5>
                            <p>Aroem Resto & Cafe Jakarta <br>
                            Jl. Abdul Muis No.14, Petojo Sel., Kecamatan Gambir, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10160</p>
                        </div>
                    </div>
                </div>
                <div class="calendar-button-wrapper">
                    <button id="add-to-calendar-btn" class="calendar-button">
                        <i class="fa-regular fa-calendar-plus"></i>
                        <span>Add to Calendar</span>
                    </button>
                    <div id="calendar-links" class="calendar-links">
                        <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Pernikahan+Victor+%26+Inge&dates=20251018T190000/20251018T220000&details=Acara+pernikahan+Victor+%26+Inge.&location=Aroem+Resto+%26+Cafe+Jakarta&ctz=Asia/Jakarta" target="_blank" rel="noopener noreferrer">Google Calendar</a>
                        <a id="ics-link" href="#" download="pernikahan-victor-inge.ics">Apple & Outlook (.ics)</a>
                    </div>
                </div>
            </div>

            <div class="event-col event-map-col">
                <div class="event-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d247.9182402583749!2d106.82129898876069!3d-6.171998378090814!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f5d2e32386af%3A0x46581525624def4b!2sAroem%20Resto%20%26%20Cafe%20Jakarta!5e0!3m2!1sen!2sid!4v1758899665878!5m2!1sen!2sid" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

    </div>
</section>