<div class="wrap_footer">
 <section class="section ig">
  <div class="padding-global">
   <div class="container-max">
    <div class="flex-vertical centered text-align-center">
     <div data-word-reveal="true" data-prevent-flicker="true" class="heading-style-h1">Our Journey Continues With You</div>
     <div data-word-reveal="true" data-prevent-flicker="true" class="text-size-regular">Share your happy moments from our big day with the hashtag #theVIstory.</div>
     <div class="spacer-small"></div>
     <div class="btn-wrap">
      <a data-prevent-flicker="true" data-button-reveal="true" href="https://www.instagram.com/ingsap" target="_blank" class="btn w-inline-block">
       <img src="./assets/img/paper-white.avif" loading="lazy" alt="" class="img_paper-rip-small" />
       <div>FOLLOW US</div>
      </a>
      <a data-prevent-flicker="true" data-button-reveal="true" href="#" class="btn w-inline-block">
       <img src="./assets/img/paper-blue.avif" loading="lazy" alt="" class="img_paper-rip-small tilted" />
       <div>THE SCRAPBOOK</div>
      </a>
     </div>
    </div>
   </div>
  </div>
  <div class="spacer-large"></div>
  <div class="wrap_ig-carousel">
   <div class="ig_carousel">
    <div class="roll_top">
     <img src="./assets/img/film-roll.svg" loading="lazy" alt="" class="image-2" />
    </div>
    <div class="carousel_content">
     <div class="img_ig-carousel">
      <img src="./assets/img/footer/poly.jpg" loading="lazy" alt="" />
     </div>
     <div class="roll_between"></div>
     <div class="img_ig-carousel">
      <img src="./assets/img/footer/candle.webp" loading="lazy" alt="" />
     </div>
     <div class="roll_between"></div>
     <div class="img_ig-carousel">
      <img src="./assets/img/footer/couples.webp" loading="lazy" alt="" />
     </div>
     <div class="roll_between"></div>
     <div class="img_ig-carousel">
      <img src="./assets/img/footer/couple.webp" loading="lazy" alt="" />
     </div>
     <div class="roll_between"></div>
     <div class="img_ig-carousel">
      <img src="./assets/img/footer/poly.jpg" loading="lazy" alt="" />
     </div>
     <div class="roll_between"></div>
     <div class="img_ig-carousel">
      <img src="./assets/img/footer/sangjit.webp" loading="lazy" alt="" />
     </div>
     <div class="roll_between"></div>
     <div class="img_ig-carousel">
      <img src="./assets/img/footer/wedd.webp" loading="lazy" alt="" />
     </div>
     <div class="roll_between"></div>
     <div class="img_ig-carousel">
      <img src="https://cdn.prod.website-files.com/68419b75b6bf8676ad6ca97d/6866c23e9324981888c216d2_8.avif" loading="lazy" alt="" />
     </div>
     <div class="roll_between"></div>
     <div class="img_ig-carousel">
      <img src="./assets/img/footer/dog.jpg" loading="lazy" alt="" />
     </div>
    </div>
    <div class="roll_top flip">
     <img src="./assets/img/film-roll.svg" loading="lazy" alt="" class="image-2" />
    </div>
   </div>
  </div>
 </section>