<section class="section home_hero">
    <div class="contains-hero-stack">
        <div data-drag="true" data-prevent-flicker="true" data-image-reveal="true" class="img-hero _1">
            <div class="container_image stack-img"><img src="./assets/img/gallery/photo1.jpg" loading="lazy" alt="Foto prewedding Victor dan Inge 1" class="fullwidth-image" /></div>
        </div>
        <div data-drag="true" data-prevent-flicker="true" data-image-reveal="true" class="img-hero _2">
            <div class="container_image stack-img"><img src="./assets/img/gallery/photo3.jpg" loading="lazy" alt="Foto prewedding Victor dan Inge 2" class="fullwidth-image" /></div>
        </div>
        <div data-drag="true" data-prevent-flicker="true" data-image-reveal="true" class="img-hero _3">
            <div class="container_image stack-img"><img src="./assets/img/gallery/photo6.jpg" loading="lazy" alt="Foto prewedding Victor dan Inge 3" class="img_fullheight" /></div>
        </div>
        <div data-drag="true" data-prevent-flicker="true" data-image-reveal="true" class="img-hero _4">
            <div class="container_image stack-img"><img src="./assets/img/gallery/photo5.png" loading="lazy" alt="Foto prewedding Victor dan Inge 4" class="fullwidth-image" /></div>
        </div>
        <div data-drag="true" data-image-reveal="true" data-prevent-flicker="true" class="img-hero _5">
            <div class="container_image stack-img"><img src="./assets/img/gallery/photo4.jpg" loading="lazy" alt="Foto prewedding Victor dan Inge 5" class="fullwidth-image" /></div>
        </div>
        <div data-drag="true" data-image-reveal="true" data-prevent-flicker="true" class="img-hero _6">
            <div class="container_image stack-img"><img src="./assets/img/gallery/photo2.jpg" loading="lazy" alt="Foto prewedding Victor dan Inge 6" class="fullwidth-image" /></div>
        </div>
    </div>
    <div class="wrap_padding">
        <div class="container-max hero-content">
            <div class="ix-hero-container">
                <div class="ix-heading-wrap top">
                    <h1 data-word-reveal="true" data-prevent-flicker="true" class="heading-style-h1 hero">
                        I have found the one <br />whom my soul loves. <br/> (Song of Solomon 3:4)
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>