<section class="hero-story">
    <div class="hero-background">
        <picture>
            <source media="(max-width: 767px)" srcset="./assets/img/hero-story/hero-mobile.webp">
            <source media="(min-width: 768px) and (max-width: 1199px)" srcset="./assets/img/hero-story/hero-tablet.webp">
            <img src="./assets/img/hero-story/hero-desktop.webp" alt="Victor dan Inge di pegunungan" loading="eager">
        </picture>
    </div>
    <div class="hero-content">
        <h1 class="story-title">
            <span class="word-our">Our</span>
            <span class="word-story">Story</span>
        </h1>
    </div>
</section>