<section class="lokasi-section">
    <div class="container">
        <h2>Join Us Here</h2>
        <div class="peta-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d247.9182005057198!2d106.82121523065379!3d-6.172083333245584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f5d2e32386af%3A0x46581525624def4b!2sAroem%20Resto%20%26%20Cafe%20Jakarta!5e0!3m2!1sen!2sid!4v1758730111064!5m2!1sen!2sid" 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        </div>
    </div>
</section>
