<section class="section profile-section">
    <div class="container profile-container">
        

        <div class="profile-card groom">
            <div class="profile-photo-wrapper">
                <img src="./assets/img/profile/victor.webp" alt="Foto Victor" class="profile-photo">
            </div>
            <div class="profile-details">
                <h2>Victor Arijanto</h2>
                <p>The first son, second child of <br> Mr. Fam Jung Ci <br> & Mrs. Tjhang Luna</p>
                <a href="https://instagram.com/victorarijanto" target="_blank" class="social-link">
                    <i class="fab fa-instagram"></i> @victorarijanto
                </a>
            </div>
        </div>

        <div class="uniting-symbol">
            <span>&</span>
        </div>

        <div class="profile-card bride">
            <div class="profile-photo-wrapper">
                <img src="./assets/img/profile/inge-2.webp" alt="Foto Inge" class="profile-photo">
            </div>
            <div class="profile-details">
                <h2>Inge Sapangah</h2>
                <p>The first daughter of <br> Mr. Wiwi Warsito (Ong Soen Beng) ♰ <br>& Mrs. Komariah</p>
                <a href="https://instagram.com/ingsap" target="_blank" class="social-link">
                    <i class="fab fa-instagram"></i> @ingsap
                </a>
            </div>
        </div>
    </div>
</section>