<div class="wrap_scrolly">
    <div data-w-id="d4178c23-c031-f05e-ff6d-e46bcb634877" class="wrap_scrolly-top">
      <div class="scrolly_hero">
        <picture class="logo_hero-lrg">
          <source media="(max-width: 479px)" srcset="./assets/img/page1/logo-vi-150.webp">
          <img src="./assets/img/page1/logo-vi-500.webp" loading="lazy" alt="Logo Pernikahan Victor & Inge">
        </picture>
        <div class="scrolly_bottom-elements">
          <div class="wrap_scroll-indicator">
            <div class="scroll-indicator-container">
              <div class="scroll-indicator"></div>
            </div>
            <div>Scroll to explore</div>
          </div>
          <div class="block_definition">
            <div class="text-size-regular text-weight-bold">V-I</div>
            <div class="text-size-small">VICTOR & INGE</div>
          </div>
        </div>
        <div data-w-id="4f672b97-c3de-53ba-d48b-c06037f6d29b" class="cloud_container"><img class="cloud_inner" src="./assets/img/page1/cloud2-main.webp" alt="Awan dekoratif" sizes="100vw" loading="eager" fetchpriority="high" /></div>
        <div data-w-id="a642eff6-63fd-c3d7-7d43-7c905140bacb" class="cloud_container _2"><img src="./assets/img/page1/cloud1-main.webp" loading="lazy" sizes="100vw" alt="Awan dekoratif kedua" class="cloud_inner _2" /></div>
      </div>
    </div>
    <div class="wrap_scrolly-middle">
      <div class="scrolly_hero middle">
        <div class="block_scrolly-intro">
        
         <section class="section quote-section" id="quote-page">
            <div class="quote-container">
                <div class="vertical-line"></div> 
                <span class="opening-quote">“</span>
                <blockquote>
                    Being deeply loved by someone gives you strength, loving someone deeply gives you courage.
                </blockquote>
                <cite>- Lao Tzu -</cite>
                <span class="closing-quote">”</span>
            </div>
        </section>
        </div>
      </div>
    </div>
    
</div>