<div class="wrap_scrolly">
    <div data-w-id="d4178c23-c031-f05e-ff6d-e46bcb634877" class="wrap_scrolly-top">
      <div class="scrolly_hero">
        <picture class="logo_hero-lrg">
          <source media="(max-width: 479px)" srcset="./assets/img/page1/logo-vi-150.png">
          <img src="./assets/img/page1/logo-vi-500.png" loading="lazy" alt="Logo Pernikahan Victor & Inge">
        </picture>
        <div class="scrolly_bottom-elements">
          <div class="wrap_scroll-indicator">
            <div class="scroll-indicator-container">
              <div class="scroll-indicator"></div>
            </div>
            <div>Scroll to explore</div>
          </div>
          <div class="block_definition">
            <div class="text-size-regular text-weight-bold">V-I</div>
            <div class="text-size-small">VICTOR & INGE</div>
          </div>
        </div>
        <div data-w-id="4f672b97-c3de-53ba-d48b-c06037f6d29b" class="cloud_container"><img class="cloud_inner" src="./assets/img/page1/cloud2-main.webp" alt="Awan dekoratif" sizes="100vw" loading="eager" fetchpriority="high" /></div>
        <div data-w-id="a642eff6-63fd-c3d7-7d43-7c905140bacb" class="cloud_container _2"><img src="./assets/img/page1/cloud1-main.webp" loading="lazy" sizes="100vw" alt="Awan dekoratif kedua" class="cloud_inner _2" /></div>
      </div>
    </div>
    <div class="wrap_scrolly-middle">
      <div class="scrolly_hero middle">
        <div class="block_scrolly-intro">
        
         <section class="section quote-section" id="quote-page">
            <div class="quote-container">
                <div class="vertical-line"></div> 
                <span class="opening-quote">“</span>
                <blockquote>
                    Being deeply loved by someone gives you strength, loving someone deeply gives you courage.
                </blockquote>
                <cite>- Lao Tzu -</cite>
                <span class="closing-quote">”</span>
            </div>
        </section>
        </div>
      </div>
    </div>
    <div class="wrap_scrolly-bottom">
          <div class="scrolly_hero bottom">

            <div class="contains_landscape">
              <img src="./assets/img/page3/our-story-pc.png" loading="eager" width="Auto"
                sizes="(max-width: 5472px) 100vw, 5472px" alt="The Tiraki Vineyard"
                srcset="./assets/img/page3/our-story-mobile.png 500w, 
                ./assets/img/page3/our-story-mobile.png 800w, 
                ./assets/img/page3/our-story-tablet.png 1080w, 
                ./assets/img/page3/our-story-tablet.png 1600w, 
                ./assets/img/page3/our-story-pc.png 2000w, 
                ./assets/img/page3/our-story-pc.png 2600w, 
                ./assets/img/page3/our-story-pc.png 3200w, 
                ./assets/img/page3/our-story-pc.png 5472w" class="img_landscape" />
            </div>

            <!-- <div id="hill-left" class="contains_hill">
              <img src="./assets/img/page3/our-text-left.png" loading="lazy"
                sizes="(max-width: 1858px) 100vw, 1858px" srcset="684450c4e5bafea869e8d685_791aa356b7f5fba96f0f826404e146d9_Hill%20left-min-p-500.webp 500w, 
                684450c4e5bafea869e8d685_791aa356b7f5fba96f0f826404e146d9_Hill%20left-min-p-800.webp 800w, 
                684450c4e5bafea869e8d685_791aa356b7f5fba96f0f826404e146d9_Hill%20left-min-p-1080.webp 1080w, 
                684450c4e5bafea869e8d685_791aa356b7f5fba96f0f826404e146d9_Hill%20left-min-p-1600.webp 1600w, 
                ./assets/img/page3/our-text-left.png 1858w"
                alt="A hillscape" class="img_hill" />
            </div>

            <div id="hill-right" class="contains_hill right">
              <img src="684450c457bf156a6104ec60_b8f0658691afacc01c1d83442666a5cb_Hill%20Right-min.webp" loading="lazy"
                sizes="(max-width: 1189px) 100vw, 1189px" srcset="684450c457bf156a6104ec60_b8f0658691afacc01c1d83442666a5cb_Hill%20Right-min-p-500.webp 500w, 
                684450c457bf156a6104ec60_b8f0658691afacc01c1d83442666a5cb_Hill%20Right-min-p-800.webp 800w, 
                684450c457bf156a6104ec60_b8f0658691afacc01c1d83442666a5cb_Hill%20Right-min-p-1080.webp 1080w, 
                684450c457bf156a6104ec60_b8f0658691afacc01c1d83442666a5cb_Hill%20Right-min.webp 1189w"
                alt="A hillscape" class="img_hill right" />
            </div> -->

            <div class="scrolly-content-container">
              <!-- <div data-prevent-flicker="true" class="contains_bottle">
                <img src="./assets/img/page3/char.png" loading="lazy" sizes="(max-width: 853px) 100vw, 853px" 
                srcset="./assets/img/page3/char-500w.png 500w, 
                        ./assets/img/page3/char-800w.png 800w, 
                        ./assets/img/page3/char.png 853w" alt="" class="img_bottle" />
              </div> -->
              <!-- <div class="contains_intro-text">
                <div class="block_scrolly-text">
                  <div data-prevent-flicker="true" class="text-giant front"></div>
                  <div class="flex-horizontal st-intro">
                            <div data-prevent-flicker="true" class="text-giant front">OUR </div>
                            <div data-prevent-flicker="true" class="text-giant front"> </div>
                            <div data-prevent-flicker="true" class="text-giant front"> </div>
                            <div data-prevent-flicker="true" class="text-giant front"> </div>
                            <div data-prevent-flicker="true" class="text-giant">Story</div>
                        </div>
                  <div data-prevent-flicker="true" class="text-giant front">  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
</div>